<!doctype html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ metadata.title | escape }}
        </title>

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

        <link rel="preconnect" href="{{ 'https://fonts.googleapis.com' | url }}">
        <link rel="preconnect" href="{{ 'https://fonts.gstatic.com' | url }}">

        <link href="{{ 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap' | url }}" rel="stylesheet">
        <link href="{{ '/css/app.css' | asset_url }}" rel="stylesheet">
        <script src="{{ '/js/app.js' | asset_url }}" defer></script>

        {% if env == 'production' %}
            {%- include analytics.liquid -%}
        {% endif %}
    </head>
    <body class="max-w-md sm:max-w-lg mx-8 sm:mx-16 my-12 sm:my-24 font-serif text-base sm:text-lg antialiased">
        <article class="my-12 sm:my-24">
            <h1 class="font-sans text-lg sm:text-xl font-semibold">
                Page not found
            </h1>
            <p class="mb-4">
                Sorry, the page you were looking for could not be found.
            </p>
            <a class="inline-flex underline hover:no-underline" href="{{ '/' | url }}">
                Go back home
            </a>
        </article>
    </body>
</html>