<!doctype html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {%- if title -%}
                {{ title | escape }} &ndash; {{ metadata.title | escape }}
            {%- else -%}
                {{ metadata.title | escape }}
            {%- endif -%}
        </title>
        <meta name="description" content="{{ metadata.description | escape }}">

        <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

        <link rel="preconnect" href="{{ 'https://fonts.googleapis.com' | url }}">
        <link rel="preconnect" href="{{ 'https://fonts.gstatic.com' | url }}" crossorigin>

        <link href="{{ 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap' | url }}" rel="stylesheet">
        <link href="{{ '/css/app.css' | asset_url }}" rel="stylesheet">
        <script src="{{ '/js/app.js' | asset_url }}" defer></script>

        {% if env == 'production' %}
            {%- include analytics.liquid -%}
        {% endif %}
    </head>
    <body class="font-sans antialiased min-h-screen flex flex-col bg-gray-100 text-gray-700">
        {{- content -}}
    </body>
</html>